<h1>Vaaralliset toiminnot</h1>

<iframe width="420" height="345"
src="http://www.youtube.com/embed/V8rZWw9HE7o" frameborder="0"
allowfullscreen></iframe>

<h2>Ehdokasasettelu</h2>

<ul>
  <li>
    <%= link_to 'Luo asiamiehille tunnukset', create_advocates_admin_electoral_alliances_path, :confirm => "Luodaanko asiamiesten tunnukset tietojen korjaamiseksi?\nSalasana välitetään jokaiselle asiamiehelle sähköpostitse." %>
    (salasana välitetään jokaiselle asiamiehelle sähköpostitse)
  </li>

  <li>
    <%= link_to 'Kirjoita ehdokkaille lähetettävä sähköposti', new_admin_email_path %>
    (viestin voi lähettää kirjoittamisen jälkeen)
  </li>
</ul>

<h3>Ehdokasnumerot</h3>

<ul>
  <li><%= link_to 'Aseta vaalirenkaiden keskinäinen järjestys', admin_electoral_coalitions_path %> (Sivun oikeasta reunasta)</li>
  <li><%= link_to 'Anna ehdokkaille numerot', give_numbers_admin_candidates_path, :confirm => "Jaetaanko ehdokasnumerot?" %></li>
</ul>
