<h1>Vaaralliset toiminnot</h1>

<h2>Ehdokasasettelu</h2>

<ul>
  <li><%= link_to 'Luo asiamiehille tunnukset', create_advocates_admin_electoral_alliances_path %></li>
</ul>

<h3>Numerointi</h3>

<ul>
  <li><%= link_to 'Järjestä vaalirenkaat', admin_electoral_coalitions_path %> (Sivun oikea reuna)</li>
  <li><%= link_to 'Anna ehdokkaille numerot', give_numbers_admin_candidates_path %></li>
</ul>
