<h1>Asiamiehen kirjautuminen</h1>
<%= form_tag advocate_session_path, :method => :post do -%>
  <p>
    <label for="email">Sähköposti:</label>
    <input type="text" id="email" name="email" />
  </p>
  <p>
    <label for="password">Salasana:</label>
    <input type="password" id="password" name="password" />
  </p>
  <p><input type="submit" value="Kirjaudu" /></p>
<% end -%>
