<h1>Renkaiden väliset arvonnat</h1>

<p><%= link_to 'Takaisin renkaiden välisiin arvontoihin', draws_coalitions_path %></p>

<% form_tag draws_coalition_path, :method => :put do -%>
<table>
<% @coalition_draw.coalition_drawings.each do |drawing| -%>
  <tr>
    <td><%= get_draw_candidate_from_coalition(drawing) %></td>
    <td><input name="coalition_drawing[<%= drawing.id %>]" type="text" /></td>
  </tr>
<% end -%>
</table>

<p><input type="submit" value="Tallenna" /> <%= link_to 'Arvo koneellisesti', '#machinedraw' %></p>
<% end -%>
