<h1>Renkaiden väliset arvonnat</h1>

<p><%= link_to 'Takaisin renkaiden välisiin arvontoihin', draws_coalitions_path %></p>

<% form_tag draws_coalition_path, :method => :put do -%>
<table>
<% @coalition_draw.coalition_drawings.each do |drawing| -%>
  <tr>
    <td><%= drawing.electoral_coalition.shorten %></td>
    <td><input name="coalition_drawing[<%= drawing.id %>]" type="text" value="<%= drawing.position_in_draw_position %>" /></td>
  </tr>
<% end -%>
</table>

<input type="submit" value="Tallenna" />
<% end -%>
