<h1>Lista samoista henkilötunnuksista</h1>

<% if @ssn_and_candidates.count == 0 -%>
  <p>Kenelläkään ehdokkaalla ei ole samaa henkilöturvatunnusta.</p>
<% end -%>

<% @ssn_and_candidates.each do |pair| -%>
  <h2>'<%= pair.first %>'</h2>
  <% pair.last.each do |candidate| -%>
    <p><%= link_to candidate.candidate_name, admin_candidate_path(candidate) %></p>
  <% end -%>
  <hr />
<% end -%>
