<h1>Duplicated social security number listing</h1>
<% @ssn_and_candidates.each do |pair| -%>
  <h2>'<%= pair.first %>'</h2>
  <% pair.last.each do |candidate| -%>
    <p><%= link_to candidate.candidate_name, admin_candidate_path(candidate) %></p>
  <% end -%>
  <hr />
<% end -%>
