<h1>Social security number listing</h1>
<% @ssn_and_candidates.each do |pair| -%>
  <h2>'<%= pair.first %>'</h2>
  <% pair.last.each do |candidate| -%>
    <p><%= candidate.candidate_name %></p>
  <% end -%>
  <hr />
<% end -%>
