<table>
  <tr>
    <th>Field</th>
    <th>Old value</th>
    <th>New value</th>
  </tr>
<% candidate.data_fixes.unapplied.each do |fix| %>
  <tr>
    <td><%= fix.field_name %></td>
    <td><%= fix.old_value %></td>
    <td><%= fix.new_value %></td>
  </tr>
<% end %>
</table
