<h1>Tarkastuslaskenta</h1>

<%= link_to "Takaisin ylläpitäjän etusivulle", admin_dashboard_path %>

<h2>Ohjeet</h2>
<ul>
  <li>Tarkastuslaskenta täytyy tehdä näitä pöytäkirjoja vasten (äänestysalueen pöytäkirjoja ei pidä käyttää!)</li>
  <li>Voit tulostaa kunkin äänestysalueen tiedot paperille merkintöjen tekemistä varten.</li>
  <li>Tulosta paperille Firefox-selaimella, jotta taulukko rivittyy oikein.</li>
  <li>Keskusvaalilautakuntaa varten tarjotaan <%= link_to "yhteenveto kaikista korjauksista", fixes_checking_minutes_path %>.</li>
  <li>Kun tarkastuslaskentalautakunta on lopettanut työnsä, vaalityöntekijä merkitsee <%= link_to "tarkastuslaskennan valmiiksi", tools_url %>.</li>
</ul>



<h2>Äänestysalueiden tarkastuslaskentapöytäkirjat</h2>
<ul>
<% @voting_areas.each do |voting_area| -%>
  <li><%= link_to "#{voting_area.code} - #{voting_area.name}", checking_minute_path(voting_area) %></li>
<% end -%>
</ul>
