.long-listing td {
  border-bottom: 1px gray solid;
  border-right: 1px gray solid;
  padding-left: 3px;
  padding-right: 13px;
}

.long-listing tr:hover {
  background: #ffffcc;
}

.nowrap {
  white-space: nowrap;
}

.showdown {
  .unfinished {
    background-color: #FCC;
  }
  .finish {
    background-color: #FFC;
  }
  .taken {
    background-color: #CCF;
  }
  .calculated {
    background-color: #CFC;
  }
}

#voting_area {
  tr:nth-child(even) {
    background: #CCC;
  }
  tr:nth-child(odd) {
    background: #FFF
  }
  td {
    text-align: center;
  }
}

td.coalition {
  font: {
    weight: bold;
    size: 140%;
  }
}

td.alliance {
  font: {
    weight: bold;
    size: 120%;
  }
}

#checking_minutes {
  border-collapse: collapse;
  th {
    border-bottom: thin solid black;
    padding: 0 0.5em;
  }
  td {
    border-bottom: thin solid black;
    padding: 0.3em 0;
  }
  td:last-child {
    border-left: thin solid black;
  }
}

p.notice {
  color: green;
  font: {
    weight: bold;
    size: 120%;
  }
}

.draw {
  border: thin solid black;
  padding: 1em;
  margin: 1em;
  ul {
    list-style-type: none;
    padding: 0;
  }
}
