.seat-listing ul {
  display: block;
}
  .seat-listing li {
    float: left;
    padding: 0.5em;
    border-right: 1px black dotted;
    border-bottom: 1px black dotted;
    list-style-type: none;
    font-weight: bold;
    width: 100px;
  }


.error {
  color: red;
  font-weight: bold;
}

.long-listing td, .long-listing th {
  border-bottom: 1px gray solid;
  border-right: 1px gray solid;
  padding-left: 3px;
  padding-right: 13px;
}

.long-listing tr:hover {
  background: #ffffcc;
}

.nowrap {
  white-space: nowrap;
}

.showdown {
  .unfinished {
    background-color: #FCC;
  }
  .submitted {
    background-color: #FFC;
  }
  .ready {
    background-color: #CCF;
  }
}

thead {
  text-align: left;
  background-color: #D3D3D3;
}

td.coalition {
  font: {
    weight: bold;
    size: 140%;
  }
}

td.alliance {
  font: {
    weight: bold;
    size: 120%;
  }
}

#voting-area {
  border-collapse: collapse;
  th {
  }
  td {
    text-align: center;
  }
}

p.notice {
  color: green;
  font: {
    weight: bold;
    size: 120%;
  }
}

.draw {
  border: thin solid black;
  padding: 1em;
  margin: 1em;
  ul {
    list-style-type: none;
    padding: 0;
  }
}
