.showdown {
  .unfinished {
    background-color: #FCC;
  }
  .finish {
    background-color: #FFC;
  }
  .taken {
    background-color: #CCF;
  }
  .calculated {
    background-color: #CFC;
  }
}

#voting_area {
  tr:nth-child(even) {
    background: #CCC;
  }
  tr:nth-child(odd) {
    background: #FFF
  }
  td {
    text-align: center;
  }
}
