<h1>Voting Area login</h1>
<%= form_tag login_voting_area_path, :method => :post do -%>
  <p>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" />
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />
  </p>
  <p><input type="submit" value="Log in" /></p>
<% end -%>
