<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();

    data.addRows(1);
    <% result.alliance_results.each_with_index do |alliance_result, index| -%>
      data.addColumn('number', '<%= alliance_result.electoral_alliance.shorten -%>');
      data.setValue(0, <%= index -%>, <%= result.elected_candidates_in_alliance(alliance_result).count -%>);
    <% end %>

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, {width: 800, height: 600, title: 'Liittokohtaiset paikkamäärät',
                      axisTitlesPosition: 'in',
                      titlePosition: 'in',
                      hAxis: {title: 'Tilanne <%= result.formatted_timestamp(:created_at) -%>',
                              titleTextStyle: {color: 'red'},
                              showTextEvery: 1,
                              textPosition: 'in'},
                      vAxis: {textPosition: 'in'}
                     });
  }
</script>

<h1>Vaaliliittojen edustajistopaikat</h1>

<% if not result.most_recent? %>
  <p>
    <strong>Huomio!</strong> Kaavio ei koske tuoreinta vaalitulosta.
  </p>
<% end %>

<div id="chart_div"></div>
