<h1>Vaalitulokset</h1>

<h2>Alustavat vaalitulokset</h2>

<p>
  Tuoreimman vaalituloksen julkinen osoite on
  <%= link_to Vaalit::Results::PUBLIC_RESULT_URL %>.
</p>

<table class="long-listing">
  <thead>
    <tr>
      <th>Luotu</th>
      <th>Tulostiedosto</th>
      <th colspan="2">Kuvaajat</th>
    </tr>
  </thead>

<% @results.each do |result| %>
  <% result_decorator = ResultDecorator.new(result)%>

  <tr>
    <td><%= result_decorator.formatted_created_at %></td>
    <td><%= link_to "Tulostiedosto", result_decorator.result_file_url %></td>
    <td><%= link_to "Paikat ryhmittäin", result_url(result), :target => "_blank" %></td>
    <td>Paikat liitoittain</td>
  </tr>

<% end %>

</table>