<p><%= link_to "Takaisin etusivulle", admin_dashboard_path %></p>

<h1>Arvonnat</h1>

<% if not @result %>
  Arvonnat voidaan aloittaa vasta sen jälkeen, kun
  <%= link_to "tarkastuslaskenta on merkitty valmiiksi", tools_path %>.
<% end %>


<% if @result %>

  <% if @result.pending_candidate_draws? %>
    <h2>Liiton sisällä saman äänimäärän saaneet ehdokkaat (<%= @result.candidate_draws.count %> kpl)</h2>

    <% if  @result.candidate_draws.any? %>

      <%= render :partial => "listing", :locals => {:draws => @result.candidate_draws.by_identifier, :order_method => :candidate_draw_order} %>

    <% else %>
      <p>Saman äänimäärän saaneiden ehdokkaiden arvontoja ei ole.</p>
    <% end %>
  <% end %>

  <% if @result.pending_alliance_draws? %>

    TODO: Alliance!
  <% end %>

<% end %>