<h1>Tervetuloa vaaliliiton asiamieheksi!</h1>

Ehdokastietoja käsitellään seuraavasti:

<h2>Ennen ehdokasasettelun päättymistä (NN.NN. klo NN:NN)</h2>
<ul>
  <li>Vaaliliiton ensisijaiselle asiamiehelle (sinulle) on luotu HYYn toimesta käyttäjätunnus.</li>
  <li>Ensisijaisella asiamiehellä on ehdokasasettelun päättymispäivään saakka aikaa syöttää vaaliliiton ehdokkaat.</li>
  <li>Ehdokasasettelun päättymisen jälkeen uusia tietoja ei voi enää lisätä.</li>
  <li>Ehdokastiedot <strong>on toimitettava paperilla HYYn keskustoimistoon määräaikaan NN.NN klo NN:NN mennessä!</strong></li>
</ul>

<h2>Ehdokasasettelun päättymisen jälkeen</h2>
<ul>
  <li>HYYn vaalityöntekijä liittää vaaliliitot vaalirenkaisiin paperilomakkeiden perusteella.</li>
  <li>HYYn sihteeristö vertaa paperilomakkeiden tietoja järjestelmän tietoihin. Jos tiedoissa on eroavaisuuksia, paperilomakkeen tiedot ovat ensisijaiset.</li>
  <li>Ehdokkaille lähetetään sähköpostitse ilmoitus ehdokasilmoittautumisen vastaanottamisesta.</li>
</ul>

<h2>Ennen ehdokasnumeroiden arpomista (NN.NN. klo NN:NN)</h2>
<ul>
  <li>Ehdokasasettelun päättymisen jälkeen tietoihin on mahdollista tehdä korjauksia NN.NN. klo NN:NN saakka.</li>
  <li>Korjauksia voi tehdä ainoastaan vaaliliiton ensisijainen asiamies (sinä).</li>
  <li>Ehdokkuuden voi perua ainaostaan ehdokas itse ilmoittamalla siitä kirjallisesti HYYn keskustoimistoon.</li>
  <%# <li>Toissijaiselle asiamiehelle luodaan käyttäjätunnus ehdokasasettelun päättymisen jälkeen.</li> %>
</ul>

<p>
  PS. Voit milloin tahansa kopioida tiedot järjestelmästä itsellesi esim. Exceliin CSV-tiedostomuodossa.
</p>

<%= button_to "Asia selvä!", advocates_alliances_path, :class => "btn", :method => "get" %>

