<h1>Liittojen väliset arvonnat</h1>

<p><%= link_to 'Takaisin kaikkiin arvontoihin', draws_path %></p>

<% @alliance_draws.each do |draw| -%>
  <div>
    <ul>
      <% draw.electoral_alliances.each do |alliance| -%>
        <li><%= alliance.shorten %></li>
      <% end -%>
    </ul>
  </div>
<% end -%>
