<h1>Uusi ehdokas</h1>

Sukunimi    Kaikki etunimet

Henkilötunnus    Tiedekunta

Laitoksen nimi virallisessa muodossa (mikäli tiedekunnassa on laitoksia)

Lähiosoite  Postinumero  Postitoimipaikka

Puhelinnumero   Sähköpostiosoite

Ehdokkaan nimi siinä muodossa, kuin se halutaan merkittäväksi ehdokaslistojen yhdistelmään (etunimen rinnalla tai sen sijasta voidaan käyttää yleisesti tunnettua puhuttelunimeä tai etunimeä lyhennettynä, eli esimerkiksi Sukunimi, Etunimi; Sukunimi, Puhuttelunimi tai Sukunimi, Etunimi "Puhuttelunimi")