<h1>Uusi ehdokas</h1>


<%= semantic_form_for @candidate, :url => advocates_alliance_candidates_path(@alliance) do |f| %>

  <%= render :partial => "form", :locals => { :candidate => @candidate, :f => f } %>

  <%= f.actions %>
<% end %>