// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.status_tag {
  &.ok,
  &.published,
  &.complete,
  &.completed,
  &.green {
    background: #8daa92;
  }

  &.warn,
  &.warning,
  &.orange {
    background: #e29b20;
  }

  &.error,
  &.errored,
  &.red {
    background: #d45f53;
  }
}

.sortable tr:hover {
  cursor: move;
}

form.ordering div {
  clear: both;
  padding-top: 1em;
}

form.ordering input[type="text"] {
  width: 1.5em;
  float: left;
  margin-right: 0.5em;
}

.create-new-candidate-action {
  padding-bottom: 1.5em;
}
