/* Loaded from config/initializers/active_admin.rb */

.sortable tr:hover {
  cursor: move;
}

form.ordering div {
  clear: both;
  padding-top: 1em;
}
  form.ordering input[type="text"] {
      width: 1.5em;
      float: left;
      margin-right: 0.5em;
  }
