<p>
  <%= link_to "&larr; Palaa tallentamatta".html_safe, advocates_alliance_path(@alliance) %>
</p>

<%= semantic_form_for @alliance, :url => advocates_alliance_path(@alliance) do |f| %>

  <%= render :partial => "form", :locals => { :alliance => @alliance, :f => f } %>

  <%= f.actions %>
<% end %>