<h1>Äänioikeuden tarkistaminen</h1>

<%= semantic_form_for :voter, :method => :get, :url => search_voting_voters_path do |f| %>

    <%= render :partial => "search_form", :locals => { :f => f } %>

<% end %>
