<h1>Pääsy kielletty</h1>

<p>
  Selaimesi yritti tehdä jotain, johon käyttäjätunnuksellasi ei ollut pääsyoikeutta.
</p>

<p>
  Yritä uudelleen aloittaen <%= link_to "etusivulta", root_path %>.
  Jos ongelma ei ratkea, ota yhteys <a href="https://hyy.fi/vaalit">HYYn vaalityöntekijään</a>.
</p>
