
<h1>Tervetuloa HYYn edustjistovaaleihin!</h1>

<p>
  Ehdokkaaksi voi asettua läsnäolevaksi ilmoittaunut vaalikelpoinen Helsingin yliopiston opiskelija.
  <ul>
    <li>
      Ehdokasasettelu alkaa
      <%= friendly_datetime(GlobalConfiguration.candidate_nomination_starts_at) %>
    </li>

    <li>
      Ehdokasasettelu päättyy
      <%= friendly_datetime(GlobalConfiguration.candidate_nomination_ends_at) %>
    </li>

    <li>Vaalit järjestetään 26.10.–28.10. ja 31.10.–2.11.</li>
  </ul>
</p>

<p>
  Ehdokasasettelun päättymisen jälkeen tietoihin on mahdollista tehdä korjauksia
  ja ehdokkuus on mahdollista perua
  <%= friendly_datetime(GlobalConfiguration.candidate_data_is_freezed_at) %> mennessä.
</p>

<% if GlobalConfiguration.candidate_data_frozen? %>
  <h2>Ehdokastiedot</h2>
  <p>
    Ehdokastiedot on jäädytetty eikä niihin voi enää tehdä muutoksia.
    Jos olet vaaliliiton edustaja, voit tarkistaa ehdokastietosi kirjaudumalla sisään.
  </p>
<% end %>

<%= link_to "Kirjaudu sisään", haka_auth_new_path, class: "btn btn-primary" %>
