<h1>Liittojen sisäiset arvonnat</h1>

<p><%= link_to 'Takaisin liittojen välisiin arvontoihin', draws_candidates_path %></p>

<% form_tag draws_candidate_path, :method => :put do -%>
<table>
  <% @candidate_draw.candidate_drawings.each do |drawing| -%>
  <tr>
    <td><%= drawing.candidate.candidate_number %></td>
    <td><input name="candidate_drawing[<%= drawing.id %>]" type="text" /></td>
  </tr>
<% end -%>
</table>

<input type="submit" value="Tallenna" />
<% end -%>
