<h1>Liittojen sisäiset arvonnat</h1>

<p><%= link_to 'Takaisin kaikkiin arvontoihin', draws_path %></p>

<% @candidate_draws.each do |draw| -%>
  <div>
    <ul>
      <% draw.candidate_drawings.rank(:position_in_draw).each_with_index do |drawing, i| -%>
        <li><%= drawing.candidate.candidate_number %>: <%= i+1 if draw.drawed %></li>
      <% end -%>
    </ul>
    <p><%= link_to 'Siirry arvontaan', edit_draws_candidate_path(draw.id) %></p>
  </div>
<% end -%>
